<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
  <main>
    <article>
      <h1>Votre commande est confirmée <span id="name"><%= order.firstName %> <%= order.lastName%></span>!</h1>
      <p>Votre numéro de confirmation est le <strong id="confirmation-number"><%= order.id%></strong>.</p>
    </article>
  </main>
  <%- include('../partials/footer') %>
  <script type="module">
    import { initShoppingCartController } from "/assets/scripts/shopping-cart.controller.js";
    initShoppingCartController();
  </script>
</body>
</html>
