<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <main>
    <article>
      <h1 id="product-name">
        <%= product.name%>
      </h1>
      <div class="row">
        <div class="col">
          <img
            alt="product"
            src="/assets/img/<%= product.image %>"
            id="product-image"
          >
        </div>
        <div class="col">
          <section>
            <h2>Description</h2>
            <p id="product-desc">
              <%= product.description%>
            </p>
          </section>
          <section>
            <h2>Caractéristiques</h2>
            <ul id="product-features">
              <% product.features.forEach(feature => {%>
                <li>
                  <%= feature %>
                </li>
              <% }); %>
            </ul>
          </section>
          <hr>
          <form class="pull-right" id="add-to-cart-form">
            <label for="product-quantity">Quantité:</label>
            <input class="form-control" type="number" value="1" min="1" id="product-quantity">
            <button class="btn" title="Ajouter au panier" type="submit">
              <i class="fa fa-cart-plus"></i>&nbsp; Ajouter
            </button>
          </form>
          <p>Prix: <strong id="product-price">
            <%= product.price %>
          </strong></p>
        </div>
      </div>
      <div class="dialog" id="dialog">
        Le produit a été ajouté au panier.
      </div>
    </article>
  </main>
  <%- include('../partials/footer') %>
  <script type="module">
    import { initShoppingCartController } from "/assets/scripts/shopping-cart.controller.js";
    import { initProductController } from "/assets/scripts/products.controller.js"
    initShoppingCartController();
    initProductController();
  </script>
</body>
</html>
