<!DOCTYPE html>
<html lang="fr">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/header') %>
  <main>
    <section class="sidebar" aria-label="Filtres">
      <section>
        <h2>Catégories</h2>
        <div class="btn-group vertical" id="product-categories">
          <button data-category="cameras">Appareils photo</button>
          <button data-category="consoles">Consoles</button>
          <button data-category="screens">Écrans</button>
          <button data-category="computers">Ordinateurs</button>
          <button data-category="all">Tous les produits</button>
        </div>
      </section>
      <section>
        <h2>Classement</h2>
        <div class="btn-group vertical" id="product-criteria">
          <button data-criteria="price-asc">Prix (bas-haut)</button>
          <button data-criteria="price-dsc">Prix (haut-bas)</button>
          <button data-criteria="alpha-asc">Nom (A-Z)</button>
          <button data-criteria="alpha-dsc">Nom (Z-A)</button>
        </div>
      </section>
    </section>
    <article>
      <span class="right-header" id="products-count"><%= products.length %> produits</span>
      <h1>Produits</h1>
      <div class="products" id="products-list">
        <% products.forEach(product => {%>
          <div class="product">
            <a href="produits/<%= product.id%>">
              <h2>
                <%= product.name%>
              </h2>
              <img
                src="/assets/img/<%= product.image%>"
                alt="<%product.name%>"
              >
              <p class="price">
                <%= product.price%>$
              </p>
            </a>
          </div>
        <% }); %>
      </div>
      <!--
      <div class="loading">
      </div>
    -->
    </article>
  </main>
  <%- include('../partials/footer') %>
  <script type="module">
    import { initShoppingCartController } from "/assets/scripts/shopping-cart.controller.js";
    import { initProductController } from "/assets/scripts/products.controller.js"
    initShoppingCartController();
    initProductController();
  </script>
</body>
</html>
